#
# weechat -- irc.conf
#

[look]
buffer_open_before_autojoin = on
buffer_open_before_join = off
buffer_switch_autojoin = on
buffer_switch_join = on
color_nicks_in_names = on
color_nicks_in_nicklist = on
color_nicks_in_server_messages = on
color_pv_nick_like_channel = on
ctcp_time_format = "%a, %d %b %Y %T %z"
display_away = local
display_ctcp_blocked = on
display_ctcp_reply = on
display_ctcp_unknown = on
display_host_join = on
display_host_join_local = on
display_host_quit = on
display_join_message = "329,332,333,366"
display_old_topic = on
display_pv_away_once = on
display_pv_back = on
highlight_channel = "$nick"
highlight_pv = "$nick"
highlight_server = "$nick"
highlight_tags_restrict = "irc_privmsg,irc_notice"
item_channel_modes_hide_args = "k"
item_display_server = buffer_plugin
item_nick_modes = on
item_nick_prefix = on
join_auto_add_chantype = off
msgbuffer_fallback = current
new_channel_position = none
new_pv_position = none
nick_completion_smart = speakers
nick_mode = prefix
nick_mode_empty = off
nicks_hide_password = "nickserv"
notice_as_pv = auto
notice_welcome_redirect = on
notice_welcome_tags = ""
notify_tags_ison = "notify_message"
notify_tags_whois = "notify_message"
part_closes_buffer = off
pv_buffer = independent
pv_tags = "notify_private"
raw_messages = 256
server_buffer = merge_with_core
smart_filter = on
smart_filter_delay = 5
smart_filter_join = on
smart_filter_join_unmask = 30
smart_filter_mode = "ovh"
smart_filter_nick = on
smart_filter_quit = on
temporary_servers = off
topic_strip_colors = off

[color]
input_nick = lightcyan
item_channel_modes = default
item_lag_counting = default
item_lag_finished = yellow
item_nick_modes = default
message_join = green
message_quit = red
mirc_remap = "1,-1:darkgray"
nick_prefixes = "q:lightred;a:lightcyan;o:lightgreen;h:lightmagenta;v:yellow;*:lightblue"
notice = green
reason_quit = default
topic_current = default
topic_new = white
topic_old = white

[network]
autoreconnect_delay_growing = 2
autoreconnect_delay_max = 1800
ban_mask_default = "*!$user@$host"
channel_encode = off
colors_receive = on
colors_send = on
lag_check = 60
lag_max = 1800
lag_min_show = 500
lag_reconnect = 0
lag_refresh_interval = 1
notify_check_ison = 1
notify_check_whois = 5
sasl_fail_unavailable = on
send_unknown_commands = off
whois_double_nick = on

[msgbuffer]

[ctcp]

[ignore]

[server_default]
addresses = ""
anti_flood_prio_high = 2
anti_flood_prio_low = 2
autoconnect = off
autojoin = ""
autoreconnect = on
autoreconnect_delay = 10
autorejoin = off
autorejoin_delay = 30
away_check = 0
away_check_max_nicks = 25
capabilities = ""
command = ""
command_delay = 0
connection_timeout = 60
default_msg_kick = ""
default_msg_part = "WeeChat %v"
default_msg_quit = "WeeChat %v"
ipv6 = on
local_hostname = ""
nicks = "claco,claco1,claco2,claco3,claco4"
nicks_alternate = on
notify = ""
password = ""
proxy = ""
realname = "Chris Laco"
sasl_fail = continue
sasl_key = ""
sasl_mechanism = plain
sasl_password = ""
sasl_timeout = 15
sasl_username = ""
ssl = off
ssl_cert = ""
ssl_dhkey_size = 2048
ssl_fingerprint = ""
ssl_priorities = "NORMAL"
ssl_verify = on
username = "Chris Laco"

[server]
freenode.addresses = "chat.freenode.net/7000"
freenode.proxy
freenode.ipv6
freenode.ssl = on
freenode.ssl_cert
freenode.ssl_priorities
freenode.ssl_dhkey_size = 1024
freenode.ssl_fingerprint
freenode.ssl_verify
freenode.password
freenode.capabilities
freenode.sasl_mechanism
freenode.sasl_username
freenode.sasl_password
freenode.sasl_key
freenode.sasl_timeout
freenode.sasl_fail
freenode.autoconnect
freenode.autoreconnect
freenode.autoreconnect_delay
freenode.nicks
freenode.nicks_alternate
freenode.username
freenode.realname
freenode.local_hostname
freenode.command
freenode.command_delay
freenode.autojoin = ""
freenode.autorejoin
freenode.autorejoin_delay
freenode.connection_timeout
freenode.anti_flood_prio_high
freenode.anti_flood_prio_low
freenode.away_check
freenode.away_check_max_nicks
freenode.default_msg_kick
freenode.default_msg_part
freenode.default_msg_quit
freenode.notify
rackspace.addresses = "{{ weechat_irc.rackspace.addresses }}"
rackspace.proxy
rackspace.ipv6
rackspace.ssl = on
rackspace.ssl_cert
rackspace.ssl_priorities
rackspace.ssl_dhkey_size
rackspace.ssl_fingerprint
rackspace.ssl_verify = off
rackspace.password
rackspace.capabilities
rackspace.sasl_mechanism = dh-blowfish
rackspace.sasl_username = "{{ weechat_irc.rackspace.sasl_username }}"
rackspace.sasl_password = "{{ weechat_irc.rackspace.sasl_password }}"
rackspace.sasl_key
rackspace.sasl_timeout
rackspace.sasl_fail
rackspace.autoconnect
rackspace.autoreconnect
rackspace.autoreconnect_delay
rackspace.nicks
rackspace.nicks_alternate
rackspace.username = "claco"
rackspace.realname = "Chris Laco"
rackspace.local_hostname
rackspace.command
rackspace.command_delay
rackspace.autojoin
rackspace.autorejoin
rackspace.autorejoin_delay
rackspace.connection_timeout
rackspace.anti_flood_prio_high
rackspace.anti_flood_prio_low
rackspace.away_check
rackspace.away_check_max_nicks
rackspace.default_msg_kick
rackspace.default_msg_part
rackspace.default_msg_quit
rackspace.notify
rackerninja.addresses = "{{ weechat_irc.rackerninja.addresses }}"
rackerninja.proxy
rackerninja.ipv6
rackerninja.ssl = on
rackerninja.ssl_cert
rackerninja.ssl_priorities
rackerninja.ssl_dhkey_size
rackerninja.ssl_fingerprint
rackerninja.ssl_verify = on
rackerninja.password = "{{ weechat_irc.rackerninja.password }}"
rackerninja.capabilities
rackerninja.sasl_mechanism
rackerninja.sasl_username
rackerninja.sasl_password
rackerninja.sasl_key
rackerninja.sasl_timeout
rackerninja.sasl_fail
rackerninja.autoconnect
rackerninja.autoreconnect
rackerninja.autoreconnect_delay
rackerninja.nicks
rackerninja.nicks_alternate
rackerninja.username
rackerninja.realname
rackerninja.local_hostname
rackerninja.command
rackerninja.command_delay
rackerninja.autojoin
rackerninja.autorejoin
rackerninja.autorejoin_delay
rackerninja.connection_timeout
rackerninja.anti_flood_prio_high
rackerninja.anti_flood_prio_low
rackerninja.away_check
rackerninja.away_check_max_nicks
rackerninja.default_msg_kick
rackerninja.default_msg_part
rackerninja.default_msg_quit
rackerninja.notify
rackerninjars.addresses = "{{ weechat_irc.rackerninjars.addresses }}"
rackerninjars.proxy
rackerninjars.ipv6
rackerninjars.ssl = on
rackerninjars.ssl_cert
rackerninjars.ssl_priorities
rackerninjars.ssl_dhkey_size
rackerninjars.ssl_fingerprint
rackerninjars.ssl_verify = off
rackerninjars.password = "{{ weechat_irc.rackerninjars.password }}"
rackerninjars.capabilities
rackerninjars.sasl_mechanism
rackerninjars.sasl_username
rackerninjars.sasl_password
rackerninjars.sasl_key
rackerninjars.sasl_timeout
rackerninjars.sasl_fail
rackerninjars.autoconnect
rackerninjars.autoreconnect
rackerninjars.autoreconnect_delay
rackerninjars.nicks
rackerninjars.nicks_alternate
rackerninjars.username
rackerninjars.realname
rackerninjars.local_hostname
rackerninjars.command
rackerninjars.command_delay
rackerninjars.autojoin
rackerninjars.autorejoin
rackerninjars.autorejoin_delay
rackerninjars.connection_timeout
rackerninjars.anti_flood_prio_high
rackerninjars.anti_flood_prio_low
rackerninjars.away_check
rackerninjars.away_check_max_nicks
rackerninjars.default_msg_kick
rackerninjars.default_msg_part
rackerninjars.default_msg_quit
rackerninjars.notify
